<div class="animated fadeIn">
	

		<div class="card">
			<div class="card-header">
				<strong>Ghost Buttons</strong>
			</div>
			<div class="card-body">
				<p>
					Use <code>.btn-ghost-*</code> class for ghost buttons.
				</p>
				<div class="row align-items-center">
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-primary" (click)="obey($event)">Primary</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-secondary">Secondary</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-success">Success</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-warning">Warning</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-danger">Danger</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-info">Info</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-light">Light</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
						<button type="button" class="btn btn-block btn-ghost-dark">Dark</button>
					</div>
					<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0"></div>
				</div>

			</div>
		</div>
</div>
